{% extends "master.html" %}

{% block title %}
  OIDC and Django example!
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <section>
        <h2>Welcome back, {{ user.email }}!</h2>
        <!-- Profile information: {{ info }} -->
    </section>
    {% endif %}

    <section>
        <h2>Menu</h2>
        <ul>
            {% if user.is_authenticated %}
            <li> 
                <form action="{% url 'oidc_logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout" id="submitLink">
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'oidc_authentication_init' %}">Login</a></li>
            {% endif %}
      
        </ul>
    </section>
    
{% endblock %}


